.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modalContainer {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
   box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease-in-out;
}

 @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }


.borders{
  border-top: 1px solid black;
  padding-top: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  transition: all 200ms ease-in-out;
}

.closeButton:hover{
  color: red;
}

.modalTitle {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
 
}

.formGroup textarea {
  resize: vertical;
  min-height: 100px;
}

.sendButton {
  width: 100%;
  padding: 0.7rem;
  background-color: #487C08;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.sendButton:hover {
  background-color: #128C7E;
}

.contactInfo {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
  color: #555;
}

.errorMessage {
  color: #e74c3c;
  text-align: center;
  padding: 1rem;
}